* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1170;
  margin: 0 auto;
}

body {
  font-family: Montserrat;
}

.header {
  position: absolute;
  width: 100%;
  padding: 40px 0;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
}
.header__block {
  display: flex;
}
.header__icons {
  display: flex;
  align-items: center;
}
.header__icon {
  margin-right: 40px;
}
.header__icon:last-child {
  margin: 0;
}
.header__btns {
  display: flex;
  align-items: center;
}
.header__btn {
  padding: 8px 29px;
}
.header__btn_g {
  background-color: rgb(12, 78, 27);
}
.header__btn_g .header__button {
  color: #ffffff;
}

.main__wrap {
  display: flex;
}
.main__title {
  font-size: 68px;
  font-weight: 500;
  color: rgb(12, 78, 27);
}
.main__texts {
  padding: 186px 72px 110px 72px;
}
.main__text {
  color: #0f0d0d;
  font-weight: 400;
  font-size: 18px;
}
.main__btns {
  display: flex;
  margin-right: -100px;
}
.main__btn {
  display: flex;
  flex-direction: column;
  padding: 38px 40px;
}
.main__btn_g {
  background-color: rgb(12, 78, 27);
}
.main__link {
  color: #333;
  font-weight: 500;
  font-size: 24px;
  text-decoration: none;
  margin-bottom: 13px;
  display: flex;
  align-items: center;
}
.main__link_p::before {
  content: "";
  display: block;
  width: 21px;
  height: 18px;
  background: url("../img/arrow-back.svg") no-repeat center center/cover;
  margin-right: 13px;
}
.main__link_n {
  color: #F2F2F2;
}
.main__link_n::after {
  content: "";
  display: block;
  width: 21px;
  height: 18px;
  background: url("../img/arrow-forward.svg") no-repeat center center/cover;
  margin-left: 13px;
}
.main__info {
  font-size: 32px;
  font-weight: 500;
}
.main__info_w {
  color: rgb(255, 255, 255);
}